<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramotion.navigationtoolbar.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo_noshadow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_noshadow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".View.splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    <activity android:name=".View.Profile"/>
        <activity android:name=".View.Upload"/>
        <activity android:name=".login_activity"/>
        <activity android:name=".View.register_activity"/>
        <activity android:name=".View.update"/>
        <activity android:name=".View.DeleteActivity"/>
        <activity android:name=".View.About"/>
        <activity android:name=".View.search_activity"/>

    </application>

</manifest>